@for $i from 1 through 1000 {
   .m#{$i} {
      margin: #{$i}px;
   };
   .mt#{$i} {
      margin-top: #{$i}px;
   };
   .mb#{$i} {
      margin-bottom: #{$i}px;
   };
   .mr#{$i} {
      margin-right: #{$i}px;
   };
   .ml#{$i} {
      margin-left: #{$i}px;
   }
}